* {
    margin: 10px auto;
}

header {
    background-color: bisque;
    max-width: 85%;
    flex-direction: row;
    display: flex;
    margin-top: 15px;
    padding: 10px 0px;
    border: solid 4px;
    border-radius: 20px;
}

header p.links{
    font-size: 20px;
    transition: 0.25s;
}
header p.links:hover{
    transform: scale(1.10);
    cursor: pointer;
    text-decoration: underline;
    transition: 0.25s;
}

div#corpoCentral{
    /* background-color: #AAAAAA; */
    margin-top: 40px;
    display: flex;
    text-align: left;
    max-width: 50%;
    flex-direction: column;
}

div.valorVisaoMissao{
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    /* border: solid 5px; */
    margin: 50px 25px;
    padding: 15px;
}

div.valorVisaoMissao h2{
    font-size: 46px;
}

div.valorVisaoMissao p{
    width: 85%;
    border: solid;
    background-color: burlywood;
    padding: 30px;
    font-size: 18px;
}

footer{
    background-color: rgb(128, 128, 128);
    padding: 60px 50px 100px 50px;
    margin: 60px 0px -60px 0px;
}

#afiliadoTitulo{
    width: 25%;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: monospace;
    padding: 20px 40px;
    background-color: hsl(190, 95%, 63%);
    border: solid 3px;
    text-align: center;
}

footer div#afiliados{
    text-align: center;
    margin: 25px auto;
    width: 75%;
    background-color: rgb(182, 182, 182);
    padding: 5px 0px;
    border-radius: 15px;
}

footer div#afiliados p{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    font-size: 20px;
}

div#afiliados #afiliadosCima, div#afiliados #afiliadosBaixo{
    display: flex;
    flex-direction: row;
}

div#afiliados #afiliadosCima p:hover, div#afiliados #afiliadosBaixo p:hover{
    transform: scale(1.10);
    cursor: pointer;
    transition: 0.20s;
}

#afiliadosCima p, #afiliadosBaixo p{
    transition: 0.20s;
}

footer h3#entre_em_contato {
    margin-top: 50px;
    text-align: center;
    color: hsl(120,100%,55%);
}

div#contato1, div#contato2 {
    margin: 15px auto;
    display: flex;
    color: white;
    width: 55%;
    color: black;
}

div#contato2 {
    margin: 0px auto;
    width: 35%;
}

div#contato2 h4{
    margin: 0px auto;
}

#contato1 h4, #contato2 h4{
    display: flex;
    margin: 0 auto;
}
